<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
    <ul>
        <% users.forEach((user)=> { %>
            <li>
                <h2>
                    <%= user %>
                </h2>
            </li>
            <hr />
        <% }) %>
    </ul>
   
</body>
</html>